html {-webkit-text-size-adjust: none; }
*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(51,51,51);
    font-family: sans-serif;
}
.icon{
    width: 10%;
    margin-left: 45%;
    margin-top: 40px;
}
.header_container{
    text-align: center;
}
.header{
    color:rgb(255,255,255);
    margin-top: 20px;
    font-size: 1.4em;
    font-weight: 200;
}

.container1{
    width:86%;
    margin-left: 7%;
}
#container_first{
/*display: none; */
 }

#container_second{
    display: none;
}
#container_third{
    display: none;
}
#container_fourth{
    display: none;
}
#step1{
    padding-top: 10px;
    width: 18%;
    padding-bottom: 20px;
    padding-left: 4%;
    margin-left: 7%;
    
}
#form_navigation div .step1_5{
    display: none;
    font-size: 1.4em;
    text-align: center;
    color: rgb(255,255,255)
}
#form_navigation div .info{
    
    font-size:1em;
    margin-top: 5px;
    
}

.container1 .card1{
    width:100%;
    border:1px solid #848484;
    padding: 0px 5px;
}
.container1 .card1 .info{
    padding-bottom: 25px;
}
.container1 .info input[placeholder]{
    color: #848484;
    font-size: 1em;
    font-weight:600;
}
.container1 .card1 .info input{
    width:40%;
    margin-left: 5%;
    min-height: 30px;
    background-color: rgb(51,51,51);
    border:1px solid rgb(255,255,255);
    margin-top: 30px;
    padding: 5px 5px 5px 8px;
    color: rgb(255,255,255);
}
#container_third .card1 .info #city{
    width: 40%;
}
#container_third .card1 .info #pincode{
    width: 43%;
}
.container1 .card1 .info p{
    color: #848484;
    margin:10px 20px;
    font-size: .8em;
}
.container1 .card1 .info .required{
    color:rgb(223,35,67);
    display: none;
}
#container_fourth .card1 .info p{
    font-size: 1em;
}
#container_fourth .card1 .info .radio_check{
    padding-bottom: 25px;
    padding-right: 40px;
    height: 55px;
    
}
#container_fourth .card1 .info .radio_check .check_box{

    width: 5px;
    padding-top: 10px;
    margin-left:15%;
    margin-right: 2px;
    display: inline;
    
}
#container_fourth .card1 .info .radio_check .checkTag{
    
    font-size: 2em;
    margin-top:5px;
    margin-right: 10px;
    color: #848484; 
    font-family: monospace;
}
#container_fourth .card1 .info .fees{
    width: 100%;
    margin-left:4%;
    /*padding: 5px 10px;*/
    font-family:serif;
    padding-top: 20px;
}
#container_fourth .card1 .info .fees h2{
    padding-top: 20px;
    font-size: 1em;
    color: rgb(223,35,67);
}
#container_fourth .card1 .info .fees p span{
    font-size: 1em;
    color:rgb(251,251,251);
}

#container_fourth .card1 .info .fees .condition{
    font-size: .76em;  
}
#container_fourth .card1 .info .fees .condition span{
    color: rgb(223,35,67);
    font-size: 1.5em;
}
#container_fourth .card1 .info select{
    width:90%;
    margin-left: 5%;
    min-height: 30px;
    background-color: rgb(51,51,51);
    border:1px solid rgb(255,255,255);
    margin-top: 30px;
    padding: 5px 5px 5px 8px;
    color: rgb(255,255,255);
}
.container1 .info #d_o_b{
    margin-top: 0px; 
}
.button_container{
    width: 86%;
    margin-left: 7%;
    padding: 15px 0px 50px 0px;
    min-height: 50px;
}
.button_container button{
    cursor: pointer;
    width: 35%;
    padding: 10px;
    color: rgb(255,255,255);
    border: none;   
}
.button_container #back{
    background-color:  #848484;
    display: none;
}
.button_container #next{
    background-color:rgb(223,35,67) ;
    float: right;
}
.footer{
    width: 100%;
    padding: 10px;
    text-align: center;
}
.footer p{
    color: #848484;
    bottom: 10px;
}
#college_name{
    width: 85%;
}
#college_city{
    width: 85%
}
#address_line1{
    width:88%;
}
#address_line2{
    width: 88%;
}
.dropdown{
    float: left;
    width: 50%;
}
.installments{
    text-align: center;
    float:right;
    width: 50%;
}
.installments_p{
    width: 40px;
}
.payment_top{
    height: 50px;
}
#container_fourth .card1 .info .fees p{
    display: inline-block;
}
#payment_dropdown{
    width: 50%;
    float: right;
}
.step_circle{
   margin-left: 32px;
    width: 30px;
	height:30px;
	background:white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.step_circle p{
    padding-top:7px;
    padding-left: 10px;
      border: solid 0px;
    
}


#form_navigation div{
    display: inline-block;
}
#step2{
    padding-top: 10px;
    width: 18%;
   padding-bottom: 20px;
    padding-left: 4%;
    margin-left: 4%;
    
    
}
#step3{
    padding-top: 10px;
    width: 18%;
    padding-bottom: 20px;
    padding-left: 4%;
    margin-left: 4%;
    
    
}
#step4{
    padding-top: 10px;
    width: 18%;
    padding-bottom: 20px;
    padding-left: 4%;
    margin-left: 4%;
    
}

.container1{
    margin-top: 0px;
}


.form_highlight{
color:#848484;
}
.form_highlight p{
    color: white;
}
.form_highlight .step_circle{
    background-color:#848484; 
    
}
  

.form_non_highlight{
    color: #848484;
}
.active{
    color:rgb(223,35,67);
    margin-bottom: -2px;
    border-bottom: solid 5px rgb(223,35,67);
}
#form_navigation{
    padding-top: 40px;
}

#begin_name{
    width: 80px;
}
