html {-webkit-text-size-adjust: none; }
*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(51,51,51);
    font-family: sans-serif;
}
.icon{
    width: 20%;
    margin-left: 40%;
    margin-top: 40px;
}
.header_container{
    text-align: center;
}
.header{
    color:rgb(255,255,255);
    margin-top: 20px;
    font-size: 1.6em;
    font-weight: 200;
}
.container1{
    width:86%;
    margin-left: 7%;
}
#container_first{
/*    display: none;*/
}
#container_second{
    display: none;
}
#container_third{
    display: none;
}
#container_fourth{
    display: none;
}
.container1 #step1{
    position: absolute;
    width: 100%;
    padding: 10% 10% 5% 10%;
    
}
.container1 #step1 .step1_5{
    font-size: 1.4em;
    text-align: center;
    color: rgb(255,255,255)
}
.container1 #step1 .info{
    text-align: center;
    font-size:1em;
    margin-top: 5%;
    color: rgb(223,35,67);
}

.container1 .card1{
    width:100%;
    border:1px solid #848484;
    padding: 0px 15px;
}
.container1 .card1 .info{
    padding-bottom: 20px;
}
.container1 .info input[placeholder]{
    color: #848484;
    font-size: 1em;
    font-weight:600;
}
.container1 .card1 .info input{
    width:90%;
    margin-left: 5%;
    min-height: 30px;
    background-color: rgb(51,51,51);
    border:1px solid rgb(255,255,255);
    margin-top: 30px;
    padding: 5px 5px 5px 8px;
    color: rgb(255,255,255);
}
#container_third .card1 .info #city{
    width: 40%;
}
#container_third .card1 .info #pincode{
    width: 43%;
}
.container1 .card1 .info p{
    color: #848484;
    margin:10px 20px;
    font-size: .8em;
}
.container1 .card1 .info .required{
    color:rgb(223,35,67);
    display: none;
    width: 20px;
}
#container_fourth .card1 .info p{
    font-size: 1em;
}
#container_fourth .card1 .info .radio_check{
    position: relative;
    padding: 10px;
    
}
#container_fourth .card1 .info .radio_check .check_box{
    padding: 0px;
    margin: 0px;
    width: 9%;
    margin-left:15%;
    margin-right: 5%;
    display: inline;
}
#container_fourth .card1 .info .radio_check .checkTag{
    position: absolute;
    font-size: 1.4em;
    margin-top:6px;
    margin-right: 10px;
    color: #848484; 
    font-family: monospace;
}
#container_fourth .card1 .info .fees{
    width: 100%;
    margin-left:4%;
    padding: 5px 10px;
    font-family:serif;
}
#container_fourth .card1 .info .fees h2{
    font-size: 1em;
    color: rgb(223,35,67);
}
#container_fourth .card1 .info .fees p span{
    font-size: 1em;
    color:rgb(251,251,251);
}

#container_fourth .card1 .info .fees .condition{
    font-size: .76em;  
}
#container_fourth .card1 .info .fees .condition span{
    color: rgb(223,35,67);
    font-size: 1.5em;
}
#container_fourth .card1 .info select{
    width:90%;
    margin-left: 5%;
    min-height: 30px;
    background-color: rgb(51,51,51);
    border:1px solid rgb(255,255,255);
    margin-top: 30px;
    padding: 5px 5px 5px 8px;
    color: rgb(255,255,255);
}
.container1 .info #d_o_b{
    margin-top: 0px;
}
.button_container{
    width: 86%;
    margin-left: 7%;
    padding: 15px 0px 50px 0px;
    min-height: 50px;
}
.button_container button{
    cursor: pointer;
    width: 35%;
    padding: 10px;
    color: rgb(255,255,255);
    border: none;   
}
.button_container #back{
    background-color:  #848484;
    display: none;
}
.button_container #next{
    background-color:rgb(223,35,67) ;
    float: right;
}
.footer{
    width: 100%;
    padding: 10px;
    text-align: center;
}
.footer p{
    color: #848484;
    bottom: 10px;
}
#container_first #step1 .step_circle p{
    display: none;
}
#form_navigation .form_highlight{
    display: none;
}

#form_navigation .form_non_highlight{
    display: none;
}
#form_navigation .active .step_circle{
    display: none;
}
#form_navigation{
    text-align: center;
    padding-top: 20px;
    color: white;
    font-size: 1em;
    height: 150px;
}

#begin_name{
    width: 80px;
}
#required_pop{
    width: 60px;
}
#form_navigation div .step1_5{
    padding-top: 20px;
    font-size: 32px;
    font-weight: 100;
}
#form_navigation div .info{
   font-size: 20px;
    color:rgb(223,35,67) ;
    margin-top: 20px;
}
#popup{
    width: 80px;
}

